.imagem{
    
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url("../imagem/fundo-hexagonal.jpg");
    background-size: cover;
    color: #C71585	;
}

figure{
    margin: 0;
    padding: 0;
   
}
figure>img{
    height: 300px;
    width: 300px;
    background-color: blue;
    margin: auto;
    border-radius: 70%;
}
figcaption{
    
    font-size: 30px;
}

.card{
    height: 400px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

h1{
    font-size: 50px;
    margin-bottom: 0;
}

ul{
    list-style: none;
    padding: 20px;
    margin: 0;
    font-size: 30px;
    
}

a{
    text-decoration: none;
    font-family:'Times New Roman', Times, serif;
    color:#C71585;
}

li{
    border: 1px transparent;
    padding: 5px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    
}

.biografia{
    background-color: aqua;
    height: 500px;
}

body{
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}