.imagem{    
    height: 660px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 50px;
    /* padding-bottom: 50px; */
    /* background-image: url("../imagem/fundo-hexagonal.jpg"); */
    background-image: url("../imagem/fundo-branco.jpg");
    background-size: cover;
    /* color: #C71585	; */
}

.imagem>figure{
    margin: 0;
    padding: 0;
   
}
.imagem01>img{
    height: 300px;
    width: 300px;
    /* background-color: blue; */
    margin: auto;
    border-radius: 60%;
}
figcaption{   
    font-size: 30px;
}


h1{
    font-size: 50px;
    margin-bottom: 0;
}

ul{
    list-style: none;
    padding: 20px;
    margin: 0;
    font-size: 30px;
}

a{
    text-decoration: none;
    font-family:'Times New Roman', Times, serif;
    color: black; 
}

li{
    border: 1px solid;
    padding: 5px;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    margin-bottom: 10px;   
}

.card{
    height: 600px;
    background-image: url("../imagem/fundo-branco.jpg");
    background-size: cover;
    display: flex;
    border-radius: 2px;
    margin-left: auto;
    margin-right: auto;
}

.card>img{
    height: 500px;
    margin-top: 40px;
    margin-right: 10px;
    margin-left: 10px;
}

.card>p{
    text-align: center;
    width: auto;
    margin-top: 40px;
    padding-top: 50px;
    padding-bottom: 50px;
    height: 400px;
    margin-right: 5px;
    color: white;
    background-color: #C0C0C0;
}

.imagemCard01{
    width: 600px;
}

.imagemCard02{
    height: 580px;
    width: 600px;
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 10px;
}


#paragrafo02{
    height: 400px;
    margin-top: 40px;
    margin-right: 5px;
}

body{
    margin: 0;
    padding: 0;
    background-color: white;
}